*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family:"Satoshi",sans-serif;
}

.button{
font-size:20px;
}
.home-h2{
  opacity: 1; 
  transform: none;
}
.home-p{
  opacity: 1; 
  transform: none;
}
.home-bg-img{
  background-image: url('../public/images/homepage.png');
}
.Bg-casual{
  background-image: url('../public/images/dress-style-1.png');
}
.Bg-formal{
  background-image: url('../public/images/dress-style-2.png');
}
.Bg-party{
  background-image: url('../public/images/dress-style-3.png');
}
.Bg-gym{
  background-image: url('../public/images/dress-style-4.png');
}
@media (max-width: 769px) {
  .home-bg-img{
    background-image: url('../public/images/header-homepage.png');
  }
}