*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family:"Satoshi",sans-serif;
}

.button{
left: 1230px;
font-size:20px;
}
.home-h2{
  opacity: 1; 
  transform: none;
}
.home-p{
  opacity: 1; 
  transform: none;
}